.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  padding: 0;
  width: 18px;
  color: grey;

  &:hover {
	color: black;
	transition: 0.25s;
  }

  &.completed {
	color: green;
  }
}